<div class="block-video">
  <app-video-player url="/assets/videos/main-video/video.m3u8" poster="/assets/videos/main-video/bg.png"></app-video-player>
  <div class="video-text-block">
    <h1>It’s time to re-think and build <br> for your future with </h1>
    <p>Bla-bla-bla text obout product</p>
    <button mat-raised-button >Primary</button>
  </div>
</div>


<section class="container-product-list">
  <div class="product-item">
    <div class="img-wrapper">
      <img src="assets/images/product-list/123.webp" alt="">
    </div>
    <div class="product-title">
      <h1>Visual Quality Inspection for Case Packing</h1>
      <p>Whether it’s bottles, cans, bags or boxes, finished goods need to be packaged into cases – either for
        transportation to a retail location, or for purchase by a consumer. Neurala’s vision AI software for
        case packing reduces downtime from improperly packed cases, increases inspection rates, and provides
        product mix flexibility.</p>
      <button mat-raised-button>Download the Case Packing Inspection Use Case</button>
    </div>
  </div>
  <div class="product-item">
    <div class="img-wrapper">
      <img src="assets/images/product-list/123.webp" alt="">
    </div>
    <div class="product-title">
      <h1>Visual Quality Inspection for Case Packing</h1>
      <p>Whether it’s bottles, cans, bags or boxes, finished goods need to be packaged into cases – either for
        transportation to a retail location, or for purchase by a consumer. Neurala’s vision AI software for
        case packing reduces downtime from improperly packed cases, increases inspection rates, and provides
        product mix flexibility.</p>
      <button mat-raised-button>Download the Case Packing Inspection Use Case</button>
    </div>
  </div>
  <div class="product-item">
    <div class="img-wrapper">
      <img src="assets/images/product-list/123.webp" alt="">
    </div>
    <div class="product-title">
      <h1>Visual Quality Inspection for Case Packing</h1>
      <p>Whether it’s bottles, cans, bags or boxes, finished goods need to be packaged into cases – either for
        transportation to a retail location, or for purchase by a consumer. Neurala’s vision AI software for
        case packing reduces downtime from improperly packed cases, increases inspection rates, and provides
        product mix flexibility.</p>
      <button mat-raised-button>Download the Case Packing Inspection Use Case</button>
    </div>
  </div>
</section>
